@{
    ViewBag.Title = "Contact Scott Neidig";
}
<h2>@ViewBag.Title</h2>

<p>Scott is happy to speak with you about working as an ASP.NET MVC Developer.</p>

<div class="row">

    <div class="col-sm-6 contact">
        <h3>Contact Information</h3>
        <address>
            Email:
            <a href="mailto:scott@scottneidig.com" title="scott@scottneidig.com">scott@scottneidig.com</a>
        </address>

        <address>
            Phone:
            <a href="tel:503-442-1352" title="503.442.1352">503.442.1352</a>
        </address>

        <address>
            Mailing Address:<br />
            1212 NE Oakwood Drive<br />
            Lee's Summit, MO 64086
        </address>
    </div>
    <div class="col-sm-6 contact">
        <h3>Associated Links</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/scottneidig/" title="LinkedIn Profile" target="_blank">LinkedIn Profile</a></li>
            <li><a href="https://github.com/gitsneidig" title="GitHub Repositories" target="_blank">GitHub Repositories</a></li>
            <li><a href="http://scottneidig.com/portfolio-timeline/" title="Web Development Portfolio" target="_blank">Web Development Portfolio</a></li>
        </ul>
    </div>

</div>